@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Pacifico&family=Titan+One&display=swap');

body{
    background-color: rgb(26, 26, 47);
}
  .matriz {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    grid-template-rows: repeat(1, auto);   /* 2 filas */
    gap:0.1%;    
    height: 100vh;
   
  }
  
  .matriz div {
    border: 1px solid transparent;
    text-align: center;
  }
  
  .matriz div .matriz2{
    display: grid;
    grid-template-columns: repeat(1, 2); /* 3 columnas */
    grid-template-rows: repeat(1, auto);   /* 2 filas */
    gap:10;
    height: 100vh;
  }
    

  .matriz div .matriz2 div{
    border: 1px solid transparent;
    text-align: center;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Recorta para llenar sin deformar */
    display: block;
}

.matriz div .matriz3{
    display: grid;
    grid-template-columns: repeat(1,1); /* 3 columnas */
    grid-template-rows: repeat(1, 3);   /* 2 filas */
    gap: 50px;
    padding: 20%;
    height: 100vh;
    background-color: #030c3b;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  
}


.hachi-maru-pop-regular {
    font-family: "Hachi Maru Pop", cursive;
    font-size: 120px;
    font-style:  cursive;
    text-shadow: 2em;
    text-shadow: 5px 5px 5px rgb(37, 188, 248);
    color: rgb(255, 255, 255);
    padding: 1%5% 0;
  }

  .log{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

 