body{
    background-color: black;
}

.container text-center{
    display: flex;
    row-gap: 50px;
    height:50% ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cont{
    padding-inline: ;
}
h2{
    
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(169, 10, 10);
}
img{
  height: 260px;
  border-radius: 50%;
  box-shadow: 10px 10px rgb(3, 32, 67)
}