body{
  background: linear-gradient(20deg,black,rgb(3, 33, 81),rgb(136, 136, 136),rgb(2, 26, 75))
}

.container text-center{
    display: flex;
    row-gap: 50px;
    height:50% ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cont{
    padding-inline: ;
}
h2{
    
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(169, 10, 10);
}
img{
  height: 260px;
  border-radius: 50%;
  box-shadow: 10px 10px rgb(3, 32, 67)
}
@media (max-width: 768px) {
    h2 {
      font-size: 28px;
    }
  
    img {
      height: 500px;
      width: auto;
    }
  
    .container {
      gap: 30px;
      padding: 10%;
    }
  }
  