body{
    background-color: rgb(57, 15, 115);
}
.profile{
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    grid-column: auto;  
    margin-bottom: 10%;
    padding: 5%;
}