@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Pacifico&family=Titan+One&display=swap');

body{
  background: linear-gradient(20deg,black,rgb(3, 33, 81),rgb(136, 136, 136),rgb(2, 26, 75))
}
  .matriz {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    grid-template-rows: repeat(1, auto);   /* 2 filas */
    gap:0.1%;
    
    height: 100vh;
  }
  
  .matriz div {
    border: 1px solid transparent;
    text-align: center;
  }
  
  .matriz div .matriz2{
    display: grid;
    grid-template-columns: repeat(1, 2); /* 3 columnas */
    grid-template-rows: repeat(1, auto);   /* 2 filas */
    gap:10;
    height: 100vh;
  }
    

  .matriz div .matriz2 div{
    border: 1px solid transparent;
    text-align: center;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Recorta para llenar sin deformar */
    display: block;
}

h1{
    text-align: center;
    font-family: "Hachi Maru Pop", cursive;
    font-size: 80px;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 5px rgb(255, 0, 200);
   }

.fields{
   padding: 30%;
}

@media (max-width: 768px) {
  .matriz {
    grid-template-columns: 1fr; /* 1 columna en móvil */
    padding: 5%;
  }

  .matriz2 {
    grid-template-columns: 1fr; /* 1 columna también en sub-grid */
  }

  img {
    width: 100;
  }

  h1 {
    font-size: 40px;
  }

  .fields {
    padding: 10%;
  }
}
